<% provide(:title, "All Books") %>
<h1>All Books</h1>
<%= will_paginate %>
<ul>
<% @books.each do |book| %>
       <li><p><b> <%= book.try(:title) %></b> <br> Written by : <i><%= book.try(:author) %></i> , Published by : <%= book.try(:publisher) %></p> 
       	<br><i><%= link_to "Details" , book_path(book) %></i></li>
    <% end %>
</ul>
<%= will_paginate %>

